{{define CABECALHO}}
<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MEGA</title>
  <meta name="description" content="Protocolo MEGA">
  <meta property="og:title" content="@s livres">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Protocolo social MEGA - rodando na infra do @s livres">
  
  <link rel="stylesheet" href="../static/estilo.css">
  <script src="../static/funcoes.js"></script>
</head>

<body>
  <div class="container_main">
    <div class="menu">
      <div class="container_menu">
        <div class="header">
        </div>
        <div>
          <h1>
            meu jornal
            <h2 {{if eq  .Active "Atualizar"}} class="selected"{{end}}><a href="../atualizar"> atualizar </a></h2>
            <h2 {{if eq  .Active "Ver"}} class="selected"{{end}}><a href="../ver"> ver </a></h2>
          </h1>
        </div>
        <div>
          <h1>
            jornais
            <h2 {{if eq  .Active "Pessoa"}} class="selected"{{end}}><a href="../ver/{{.LinkSelecionada}}"> {{.PessoaSelecionada}} </a></h2>
            {{range .Pessoas}}
              <h2><a href="../ver/{{.Link}}"> {{.}} </a></h2>
            {{end}}
          </h1>
        </div>
        <div>
          <h1>
            campos
          </h1>
          <h2 {{if eq  .Active "Causo"}} class="selected"{{end}}><a href="../causo"> causo </a></h2>
          <h2 {{if eq  .Active "Fofoca"}} class="selected"{{end}}><a href="../fofoca"> fofoca </a></h2>
          <h2 {{if eq  .Active "Ideia"}} class="selected"{{end}}><a href="../ideia"> ideia </a></h2>
          <h2 {{if eq  .Active "Livro"}} class="selected"{{end}}><a href="../livro"> livro </a></h2>
          <h2 {{if eq  .Active "Meme"}} class="selected"{{end}}><a href="../meme"> meme </a></h2>
          <h2 {{if eq  .Active "Musica"}} class="selected"{{end}}><a href="../musica"> música </a></h2>
        </div>
      </div>
    </div>
    <div id="centro" class="board">
      {{if .Error}}
        <div>
          {{.Error}}
        </div>
      {{end}}
{{end}}
{{define "TAIL"}}
      </div>
  </div>
</body>
</html>
{{end}}
{{template "CABECALHO" .Cabecalho}}
{{template "TAIL"}}