
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Protocolo MIGA">
    <meta property="og:title" content="@s livres">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Protocolo social MIGA - rodando via infra @s livres">
    <title>MIGA - Make Internet Great Again</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/styleMobile.css">
    <script src="../static/filtros.js"></script>
    <script src="../static/login.js"></script>
    <script src="../static/compartilharJornal.js"></script>
    <script src="../static/verificadorDatas.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">

</head>
<body class="corTerciaria">
    <header>
        <a href="jornal.html"><h1 class="sixtyfour">Jornal de {{.Arroba}}</h1></a>
        <button onclick="compartilharJornal ()" class="sombraP corSecundaria"> 
            <p id="textoCompartilhar" class="tituloBotao">Compartilhar</p>
            <img class="imgP" id="compartilhar" src="../img/compartilhar.png" alt="compartilhar jornal">
        </button>  
    </header>
    
    <div class="conteudo">
        <div class="postagens">
            <div class="categorias">                
                <div id="fofoca" class="categoria" onclick="selecionarAba(this)">
                    <img class="imgM" src="../img/fofoca.png" alt="categoria fofoca">
                    <p>Fofoca</p>
                </div>
                <div id="causo" class="categoria" onclick="selecionarAba(this)">
                    <img class="imgM" src="../img/causo.png" alt="categoria causo">
                    <p>Causo</p>
                </div>
                <div id="ideia" class="categoria" onclick="selecionarAba(this)">
                    <img class="imgM" src="../img/ideia.png" alt="categoria ideia">
                    <p>Ideia</p>
                </div>
                <div id="livro" class="categoria" onclick="selecionarAba(this)">
                    <img class="imgM" src="../img/livro.png" alt="categoria livro">
                    <p>Livro</p>
                </div>        
                <div id="meme" class="categoria" onclick="selecionarAba(this)">
                        <img class="imgM" src="../img/meme.png" alt="categoria meme">
                    <p>Meme</p>
                </div>
                <div id="musica" class="categoria" onclick="selecionarAba(this)">
                    <img class="imgM" src="../img/musica.png" alt="categoria música">
                    <p>Música</p>
                </div>
            </div>
    
            <div class="carrossel">
                <div class="carrossel">
                    <!-- contêiner para cada categoria -->
                     {{range .Cards}}
                     <section class="listaCards" data-categoria={{.CategoriaMin}}>
                        {{if .Vazio}}
                        <div class="cabecalhoCard corPrimaria">
                            <img class="imgP" src="../img/{{.CategoriaMin}}.png" alt="icone {{.Categoria}}">
                            <p class="tituloCabecalho">{{.Categoria}}</p>
                          </div>
                          <p class="textoCard dataCard" id="dataCard"> {{.DataPostagem}}</p>
                          <br>
                          <p class="textoCard textoLimitado">{{.ConteudoParcial}}</p>
                          <br>
                        {{else}}
                        <div class="cabecalhoCard corPrimaria">
                            <img class="imgP" src="../img/{{.CategoriaMin}}.png" alt="icone {{.Categoria}}">
                            <p class="tituloCabecalho">{{.Categoria}}</p>
                        </div>
                        <br>
                        <p class="textoCard textoLimitado">Este jornal ainda não tem nenhum post de {{.Categoria}}</p>
                        {{end}}
                     </section>
                     {{end}}
                  </div>             
            </div> 
        </div>
        <div id="divisoria"></div>
        <div class="calendario">
            {{range .MesAno}}
            <div class="mes sombraP">
                <div class="tituloMes">{{.Mes}} '{{.Ano}}</div>
                <div class= "dias">
                    {{range .Dias}}
                    <p class="dia {{.Cor}}" onclick="selecionarDia(this)">{{.Dia}}</p>
                    {{end}}
                </div>
            </div>
            {{end}}
        </div>
    </div>
</body>
</html>