
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIGA - Make Internet Great Again</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/styleMobile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">

</head>
<body class="corTerciaria">
    <header>
        <h1 class="sixtyfour">Jornal de {{.}}</h1>
    </header>
    
    <div class="conteudo">
        <div class="postagem">
            <form method="post" action="/publica">
                <input class="none" type="text" name="arroba" value="{{.}}" readonly/>
            <div id="card-1" class="cardInput sombraG">
                <div class="cabecalhoCard corPrimaria">
                        <img class="imgP" src="../img/zoom.png" alt="categoria postar" >
                        <p class="tituloCabecalho">Postagem</p>
                </div>
                <label class="textoCard">Selecione o conteúdo que deseja postar</label>
                <br>
                <select id="tipoConteudo" class="textoCard cinzaClaro" type="text" placeholder="fofoca" name="tipoConteudo">
                    <option value="fofoca" data-label="fofoca"> 👀 Fofoca</option>
                    <option value="causo" data-label="causo"> 🔮 Causo</option>
                    <option value="ideia" data-label="ideia"> 🧠 Ideia</option>
                    <option value="livro" data-label="livro"> 📖 Livro</option>
                    <option value="meme" data-label="meme"> 🐸 Meme</option>
                    <option value="musica" data-label="música"> 🎶 Música</option>
                </select>
                <br>
                <br>
                <br>
                <p class="textoCard dataCard" id="dataCard"> </p>
                <br>
                <textarea id="textoConteudo" name="textoConteudo" placeholder="Adicione seu conteúdo aqui ..." rows="5"></textarea>
                <br>
            </div>
            <div class="botoes">
                <button onclick="window.location.href='/jornal'" class="cinzaClaro sombraP botaoSecundario tituloBotao"> Cancelar </button>
                <button id="botaoPostar" type="submit" class="corPrimaria sombraP botaoPrimario tituloBotao"> Adicionar </button>
            </div>
        </form>
        </div>
    </div>
</body>
</html>