<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Categoria}}</title>
    <link rel="stylesheet" href="{{.NomeMucua}}/static/style.css">
    <link rel="stylesheet" href="{{.NomeMucua}}/static/styleMobile.css">
    <script src="{{.NomeMucua}}/static/filtros.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap" rel="stylesheet">
    <link rel="icon" href="{{.NomeMucua}}/img/favicon.ico" type="image/x-icon">
</head>
<body class="corTerciaria">
    <header>
        <a href="{{.NomeMucua}}/jornal/{{.Arroba}}"><h1 class="sixtyfour">Jornal de {{.Arroba}}</h1></a>
        <button onclick="compartilharJornal ()" class="sombraP corSecundaria"> 
            <p id="textoCompartilhar" class="tituloBotao">Compartilhar</p>
            <img class="imgP" id="compartilhar" src="{{.NomeMucua}}/img/compartilhar.png" alt="compartilhar jornal">
        </button> 
    </header>
    
    {{if .TipoTexto}}
        <article class="card sombraG listaCards">
            <div class="data-categoria">
                <div class="cabecalhoCard corPrimaria">
                    <img class="imgP" src="{{.NomeMucua}}/img/{{.CategoriaMin}}.png" alt="icone {{.Categoria}}">
                    <p class="tituloCabecalho">{{.Categoria}}</p>
                    </div>
                    <p class="textoCard dataCard" id="dataCard"> {{.DataPostagem}}</p>
                    <br>
                    <p class="textoCard">{{.Conteudo}}</p>
                    <br>
                </div>
            </div>
        </article>
    {{else}}
        <article class="card sombraG listaCards">
            <div class="data-categoria">
                <div class="cabecalhoCard corPrimaria">
                    <img class="imgP" src="{{.NomeMucua}}/img/{{.CategoriaMin}}.png" alt="icone {{.Categoria}}">
                    <p class="tituloCabecalho">{{.Categoria}}</p>
                    </div>
                    <p class="textoCard dataCard" id="dataCard"> {{.DataPostagem}}</p>
                    <br>
                    <img src="{{.NomeMucua}}/conteudo/{{.Conteudo}}" alt="imagem" style="width: 100%; height: auto;">
                    <br>
                </div>
            </div>
        </article>
    {{end}}
</body>
</html>