<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Categoria}}</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/styleMobile.css">
    <script src="../static/filtros.js"></script>
    <script src="../static/login.js"></script>
    <script src="../static/verificacaoLogin.js"></script>
    <script src="../static/carregarPostagem.js"></script>
    <script src="../static/verificadorDatas.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
</head>
<body class="corTerciaria">
    <header>
        <a href="jornal.html"><h1 class="sixtyfour">Jornal de {{.Arroba}}</h1></a>
        <button onclick="copy" class="sombraP corSecundaria"> 
            <p id="textoCompartilhar" class="tituloBotao">Compartilhar</p>
            <img class="imgP" id="compartilhar" src="../img/compartilhar.png" alt="compartilhar jornal">
        </button> 
    </header>
    
    {{if .TipoTexto}}
        <article class="card sombraG listaCards">
            <div class="data-categoria">
                <div class="cabecalhoCard corPrimaria">
                    <img class="imgP" src="../img/{{.CategoriaMin}}.png" alt="icone {{.Categoria}}">
                    <p class="tituloCabecalho">{{.Categoria}}</p>
                    </div>
                    <p class="textoCard dataCard" id="dataCard"> {{.DataPostagem}}</p>
                    <br>
                    <p class="textoCard">{{.Conteudo}}</p>
                    <br>
                </div>
            </div>
        </article>
    {{else if .TipoImagem}}
        <article class="card sombraG listaCards">
            <div class="data-categoria">
                <div class="cabecalhoCard corPrimaria">
                    <img class="imgP" src="../img/{{.CategoriaMin}}.png" alt="icone {{.Categoria}}">
                    <p class="tituloCabecalho">{{.Categoria}}</p>
                    </div>
                    <p class="textoCard dataCard" id="dataCard"> {{.DataPostagem}}</p>
                    <br>
                    <!-- Aqui vai ser o hiperlink pra imagem, ou diretamente puxa a imagem - verificar -->
                    <a class="textoCard">{{.Conteudo}}</a> 
                    <br>
                </div>
            </div>
        </article>
    {{end}}
</body>
</html>